* {
    font-family:sans-serif;
}
.div {
    background-color: #24323d;
    text-align: center;
    padding: 30px 0 30px 0;
    width: 25%;
    margin: 0 auto;
}
.sign-up__log-in button{
    background-color: #435257;
    border: none;
    color: white;
    padding: 15px 60px;
}
.sign-up__log-in button:hover {
    background-color: #19af89;
}
.title__sign-up{
    color: white;
    padding: 20px 0 20px 0;
    font-size: 1.5em;
    font-weight: 300;
}
.form input {
    background-color: #24323d;
    border: 1px solid white;
    color: white;
    padding: 10px 0 10px 10px;
}
.email__input, .password__input {
    width: 83%;
    margin-top: 30px;
    padding: 10px 0 10px 10px;
}
.started__button {
    background-color: #19af89;
    border: none;
    border-radius: 0;
    width: 85%;
    margin-top: 30px;
    padding: 15px 0 15px 0;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}